@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #1f242d;

}

a {
    text-decoration: none;
    color: #ffffff;
}


.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    list-style: none;
    margin: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    
}

.navbar ul li a:hover,
.navbar ul li .active {
    color: #7cf03d;
    transition: .3s;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #ffffff;
}

.home-info h1 {
    font-size: 55px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}


.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}


.home-info .btn-sci {
    display: flex;
    align-items: center;
}


.btn {
    display: inline-block;
    background: #7cf03d;
    color: #000000;
    padding: 14px 30px;
    border: 1px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}


.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
    display: inline-block;
    padding: 8px;
    border: 2px solid #7cf03d;
    margin: 0 8px;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    transition: .5s;
    width: 40px;
    height: 40px;
    transition: .5s;

}


.home-info .btn-sci .sci a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box{
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;
}

.home-img .img-box img {
    position: relative;
    width: 100%;
    height: 100%;
    background: slateblue;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}


.home-img .img-box .img-item img{
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
}